/* ============================================
   CISC3003 Practice 05 - After CSS
   ============================================ */

/* === Reset and Base Styles === */
body, header, div, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'Merriweather', "Times New Roman", serif;
}
header h1, header h2 {
    color: white;
}
header h1 {
    font-size: 48px;
}
header h2 {
    font-size: 36px;
}
header span {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    width: 160px;
    padding: 9px;
    border: solid 1px white;
}
header span a:link, header span a:visited {
    color: white;
}

/* === Task 1: Banner - Absolute Positioning === */
header {
    position: relative;
    overflow: hidden;
}

.banner {
    width: 60%;
    display: block;
    margin: 0 auto;
    filter: grayscale(100%);
}

.banner--title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header span {
    display: inline-block;
}

/* === Task 2: Highlights Section - Floats === */
.highlights {
    width: 1170px;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
}

.highlights h2 {
    margin-bottom: 10px;
}

.highlights--container {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}

.highlights--media {
    float: left;
    margin-right: 10px;
}

.highlights--media img {
    width: 150px;
    height: auto;
}

.highlights--text {
    overflow: hidden;
}

.highlights--button {
    float: right;
    background-color: #e6a817;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}

.highlights--button:hover {
    background-color: #c48f10;
}

/* === Task 3: Mosaic - Absolute Positioning === */
.mosaic {
    position: relative;
    width: 1170px;
    height: 990px;
    margin: 10px auto;
}

.mosaic-item {
    position: absolute;
    overflow: hidden;
}

.mosaic-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Row 1 */
.mosaic--a {
    left: 0;
    top: 0;
    width: 580px;
    height: 390px;
}

.mosaic--b {
    left: 590px;
    top: 0;
    width: 285px;
    height: 190px;
}

.mosaic--c {
    left: 590px;
    top: 200px;
    width: 285px;
    height: 190px;
}

.mosaic--d {
    left: 885px;
    top: 0;
    width: 285px;
    height: 390px;
}

/* Row 2 */
.mosaic--e {
    left: 0;
    top: 400px;
    width: 285px;
    height: 390px;
}

.mosaic--f {
    left: 295px;
    top: 400px;
    width: 285px;
    height: 190px;
}

.mosaic--g {
    left: 590px;
    top: 400px;
    width: 285px;
    height: 190px;
}

.mosaic--h {
    left: 885px;
    top: 400px;
    width: 285px;
    height: 390px;
}

/* Row 3 */
.mosaic--i {
    left: 0;
    top: 800px;
    width: 285px;
    height: 190px;
}

.mosaic--j {
    left: 295px;
    top: 600px;
    width: 580px;
    height: 390px;
}

.mosaic--k {
    left: 885px;
    top: 800px;
    width: 285px;
    height: 190px;
}
